html {
  font-family: sans-serif;
  font-size: 21px;
}

body {
  max-width: 700px;
  margin: 0 auto;
  padding: 1.25em 0.889em;

  background: #eceff4;
  font-family: sans-serif;
  line-height: 1.45;
  color: #4c566a;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem;
  font-family: sans-serif;
  line-height: 1.15;
}

h1 {
  font-size: 1.802em;
}

.title {
  text-align: center;
}

.src {
  font-size: 50%;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

small,
.text_small {
  font-size: 0.889em;
}

p,
form {
  margin-top: 0;
  margin-bottom: 1.25em;
}

li {
  margin-bottom: 0.625em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 1.25em;
  padding: 0;
  margin-left: 1.25em;
}

ul li:last-of-type,
ol li:last-of-type {
  margin-bottom: 0;
}

code {
  font-size: 0.889em;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 5px 6px;
  border-radius: 9px;
  margin: 0 1px;
}

nav {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  color: #4c566a;
}
a:visited {
  color: inherit;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  height: 35px;
  padding: 0 0.5rem;

  background: #eceff4;
  border: none;
  border-radius: 3px;
}

.container {
  padding: 1.25em;
  background: white;
  border-radius: 9px;
  box-shadow: rgba(184, 194, 215, 0.25) 0px 4px 6px,
    rgba(184, 194, 215, 0.1) 0px 5px 7px;
}

.container *:last-child {
  margin-bottom: 0;
}

.session {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session > div {
  width: 100%;
}

.session form {
  display: flex;
}

.session .rating-form {
  flex-direction: column;
  align-items: center;
}

.input-form {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.input-form .submit-button {
  height: 35px;
  width: 35px;
}

.input-form .answer-box {
  flex: 1;
  margin: 0 0.5em 0 0;
  position: relative;
  border: 1px solid #d8dee9;
  border-radius: 5px;
  padding: 0.8em;
}
.input-form .input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-box textarea {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  resize: none;
  font-family: monospace;
  font-size: 1em;
  line-height: 1.45;
  color: inherit;
}
.answer-box > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  font-family: monospace;
  font-size: 1em;
  background: white;
  border-radius: 5px;
  padding: 0.8em;
}
.answer-box .input-mistake {
  background: rgba(191, 97, 106, 0.5);
}
.answer-box .input-correct {
  background: rgba(163, 190, 140, 0.5);
}

.session p {
  margin-bottom: 0;
}

.result {
  text-align: center;
}

.deck-list {
  list-style: none;
  margin-left: 0;
}

.deck-list li {
  display: flex;
}

.deck-list a:first-of-type {
  margin-right: 1em;
}

.deck-list div {
  margin-left: auto;
}

.deck-list .stats-link {
  display: inline-flex;
  align-items: center;
  margin-left: 1em;
}

.deck-list svg {
  fill: #4c566a;
}

.stats-select-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.stats-select-row h4 {
  margin: 0 0.5rem 0 0;
}

code {
  background: #d8dee9;
}

#question {
  font-weight: normal;
}

.src {
  font-size: 50%;
}

.stats-graph {
  height: 300px;
}

.stats-graph .axis line {
  stroke: #d8dee9;
}

.stats-graph .axis text {
  font-size: 12px;
  fill: #d8dee9;
}

.stats-graph .axis text:first-of-type {
  text-anchor: start;
}

.stats-graph .interval path {
  stroke: #b48ead;
}

.stats-graph .interval circle {
  fill: #b48ead;
}

.stats-graph .interval text {
  fill: #b48ead;
}

.stats-graph .factor path {
  stroke: #a3be8c;
}

.stats-graph .factor circle {
  fill: #a3be8c;
}

.stats-graph .factor text {
  fill: #a3be8c;
}

.stats-graph .graph path {
  fill: none;
}

.stats-graph .graph circle {
  stroke: none;
}

.stats-graph .graph text {
  font-size: 14px;
  font-weight: bold;
  text-anchor: middle;
}

.stats-graph text:last-of-type {
  text-anchor: end;
}

@media screen and (max-width: 500px) {
  .deck-list {
    margin-left: 0;
  }
}
