html {
  font-family: sans-serif;
  font-size: 21px;
}

body {
  max-width: 700px;
  margin: 0 auto;
  padding: 1.25em 0.889em;

  background: #eceff4;
  font-family: sans-serif;
  line-height: 1.45;
  color: #4c566a;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem;
  font-family: sans-serif;
  line-height: 1.15;
}

h1 {
  font-size: 1.802em;
}

.title {
  font-size: 2.566em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

small,
.text_small {
  font-size: 0.889em;
}

p,
form {
  margin-top: 0;
  margin-bottom: 1.25em;
}

li {
  margin-bottom: 0.625em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 1.25em;
  padding: 0;
  margin-left: 1.25em;
}

ul li:last-of-type,
ol li:last-of-type {
  margin-bottom: 0;
}

code {
  font-size: 0.889em;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 5px 6px;
  border-radius: 9px;
  margin: 0 1px;
}

nav {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  color: #4c566a;
}
a:visited {
  color: inherit;
}

.container {
  padding: 1.25em;
  background: white;
  border-radius: 9px;
  box-shadow: rgba(184, 194, 215, 0.25) 0px 4px 6px,
    rgba(184, 194, 215, 0.1) 0px 5px 7px;
}

.container *:last-child {
  margin-bottom: 0;
}

.session {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session form {
  display: flex;
}

.session #input {
  height: 35px;
  padding-right: 1em;
  background: none;
  border: none;
  font-family: monospace;
}

.session p {
  margin-bottom: 0;
}

.result {
  text-align: center;
}

.deck-list {
  list-style: none;
  margin-left: 0;
}

.deck-list li {
  display: flex;
}

.deck-list a:first-of-type {
  margin-right: 1em;
}

.deck-list div {
  margin-left: auto;
}

.deck-list .stats-link {
  display: inline-flex;
  align-items: center;
  margin-left: 1em;
}

.deck-list svg {
  fill: #4c566a;
}

.stats-select-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.stats-select-row h4 {
  margin: 0 0.5rem 0 0;
}

code {
  background: #d8dee9;
}

#question {
  font-weight: normal;
}

@media screen and (max-width: 500px) {
  .deck-list {
    margin-left: 0;
  }
}
